#menu{
    z-index: 9999;
    position: fixed;
    width: 900px;
}
#menu ul li{
    list-style-type: none;
    display: inline;
    background: green;
}

#menu a, #menu a:visited{
    color: white;
}

#content{
    padding-top: 5%;
}