body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#menu{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    background: #469400;
}

#menu ul li{
    list-style-type: none;
    display: inline;
    padding-right: 5%;
}

#menu ul{
    width: 1000px;
    margin: 1.3em auto;
}

li.active a {
    font-size: 125%;
    font-weight: bold;
}

#menu a, #menu a:visited{
    color: white;
    text-decoration: none;
}

.content {
    padding-top: 5%;
    margin: auto;
    max-width: 1000px;
}

label
{
    display: block;
    width: 150px;
    float: left;
}

.table-green td {
    border-radius: 5px;
    background-color: #A5FEA8;
//color: #FFFFFF;
}
